#wrapper {
  height: 100%;
  z-index: 0;
}
.CodeMirror {
  font-family: 'Roboto Mono', 'SF Mono', 'Lucida Console', Monaco, monospace;
  height: 55em;
  /* CodeMirror has a default z-index of 4. Set to 0 to avoid collisions with fixed header. */
  z-index: 0;
}
.CodeMirror-linenumbers {
  background-color: #fafafa;
}
.CodeMirror-linenumber {
  color: #757575;
}
.CodeMirror-ruler {
  border-left: 1px solid #ddd;
}
.cm-tab:before {
  color: #757575;
  content: "\2192";
  position: absolute;
}
.cm-trailingspace {
  background-color: #ef9a9a;
  border: 1px solid #f44336;
  border-radius: 3px;
}
